.container{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}


.imgContainer{
  width: 90%;
  height: 400px;
  position: relative;
}

.img{
  object-fit: cover;
}

.date{
  font-size: 16px;
  margin-top: 8px;
}

.title{
  width: 90%;
  font-size: 20px;
  margin-bottom: 20px;
}

.desc{
  width: 90%;
  margin-bottom: 20px;
  font-weight: 300;
  color: gray;
}

.link{
  text-decoration: underline;
}